.contato {
  background: url(../../imagens/formulario-img/fundoAmarelo2.svg) no-repeat top
    center;
}

.contato div {
  display: grid;
  grid-template-columns: 1fr;

  background: url(../../imagens/dec/fundo-dec-form.svg) no-repeat bottom 150px
    center;
}

.contato-formulario {
  margin: 0 auto;
  width: 100%;
  max-width: 650px;
  padding-bottom: 6.25rem;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding-top: 2.5rem;
}

.form input,
.form textarea {
  padding: 18px 22px;
  width: 100%;
}

.form textarea,
.form input {
  border-radius: 35px;
  border: 2px solid #0097d4;
  padding-left: 58px;

  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
}

.form ::placeholder {
  color: #c3bebe;

  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.form input#assunto {
  background: url(../../imagens/dec/form-dec-assunto.png) no-repeat bottom 12px
    left 20px;
  background-color: white;
}

.form input#nome {
  background: url(../../imagens/dec/form-dec-name.svg) no-repeat bottom 13px
    left 20px;
  background-color: white;
}

.form input#email {
  background: url(../../imagens/dec/form-dec-email.svg) no-repeat bottom 15px
    left 22px;
  background-color: white;
}

.form textarea#mensagem {
  background: url(../../imagens/dec/form-dec-mensagem.png) no-repeat top 12px
    left 20px;
  background-color: white;
}

.col2 {
  grid-column: span 2;
}

.button-form {
  margin: 0 auto;
  background-color: #0c547a;
  padding: 12px 34px;

  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  border-radius: 45px;
  color: white;
  margin-top: 2rem;
  cursor: pointer;
}

@media(max-width: 600px) {
  .contato h1 {
    text-align: center;
  }
}